.typewriter:not(.noblink)::after {
    content: attr(data-cursor);
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    51% {
        opacity: 1;
    }
}